* {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Roboto;
}

body {
  height: 100vh;
  width: 100vw;
  margin: auto;
}

#root {
  height: 100%;
}

.App {
  display: block;
}

.main {
  display: flex;
  flex-direction: row;  
  height: 100%;
  background: #fff;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 77px 77px 0;
}

.datasChart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 80px;
  gap: 30px;
}

.charts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 30px;
  flex: 3;
}

.energeticInfos ul {
  display: flex;
  flex-direction: column;
  width: 260px;
}