.mainHeader {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
    width: 100%;
    height: 91px; 
    color: white;
    background-color: black;
}

.horizontalNav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
}

.horizontalNav li{
    cursor: pointer;
}

.horizontalNav li:hover {
    transform: scale(1.2);
    transition-duration: 200ms;
}