.performance-chart {
    height: 215px;
    width: 100%;
    background: #282D30;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 10px;
}

.performance-chart svg.recharts-surface {
    margin-top: -100px;
}