.simple-line {
    background-color: #ff0000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    width: 37%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.simple-line svg.recharts-surface {
    height: 200px !important;
}

.chart-title {
    height: 48px;
    width: 100%;
    margin: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}