.iconNavList {    
    background-color: black;
    width: 117px;
    height: 100%;
    margin-top: -10px;
    padding-top: 200px;
}

.iconNav-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.iconNav {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF ;
    border-radius: 6px;
    cursor: pointer;
}

.iconNav:hover {
    transform: scale(1.2);
    transition-duration: 200ms;
}

p.copyright {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    transform: rotate(-90deg);
    width: 140px;
    margin-top: 155px;
    margin-left: -10px;
}
