.iconNavList {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    width: 117px;
    height: 100vh;
    gap: 20px;  
    padding-top: 165px;
}

.iconNav {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF ;
    border-radius: 6px;
    cursor: pointer;
}

.iconNav:hover {
    transform: scale(1.2);
    transition-duration: 200ms;
}

p.copyright {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    transform: rotate(-90deg);
    width: 140px;
    margin-top: 140px;
}
