.main {
    display: flex;
    flex-direction: row;  
    width: 100%;
    margin: auto;
    background: #fff;
  }
  
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 700px;
  width: 900px;
  margin: 30px auto 0;
  padding: 0 20px;
}

.datasChart {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  
}

.charts {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 3;
  width: 630px;
  margin-right: 10px;
}
  
.second-line-charts {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 212px);
  margin-top: 30px;
}

.energeticInfos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}