.userGreeting {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    margin-bottom: 30px;
    width: 100%;
}

.userGreeting h1 {    
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    color: #000;
    margin-bottom: 45px;
}

.userGreeting span {
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    color: #FF0101;
}

.userGreeting h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}